<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index.html::layout(~{::register})}">
<head>
</head>
<body>
<div th:fragment="register">
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2 style="font-family: 'Times New Roman', Times, serif">Profile</h2>
                            <p>
                                Trang chủ <span>-</span> Đăng ký tài khoản
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- profile -->
    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3>Đăng ký tài khoản</h3>
                <div th:if="${message}"  class="alert alert-primary" role="alert" >[(${message})]</div>
                <div class="card">
                    <form class="form-card" th:action="@{/account/register}" method="post"
                          th:object="${user}" >
                        <input type="hidden" th:field="*{photo}" >
                        <input type="hidden" th:field="*{admin}">
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Username:<span
                                        class="text-danger"> *</span></label>
                                <input type="text" th:field="*{id}" id="fname"/>
                                <small th:errors="*{id}" class="text-danger"></small>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Họ Và tên:<span
                                        class="text-danger"> *</span></label>
                                <input type="text" id="lname" th:field="*{name}"/>
                                <small th:errors="*{name}" class="text-danger"></small>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Địa chỉ email:<span
                                        class="text-danger"> *</span></label>
                                <input th:field="*{email}" placeholder=""/>
                                <small th:errors="*{email}" class="text-danger"></small>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Ngày Sinh: <span
                                        class="text-danger"> *</span></label>
                                <input type="date" id="mob" th:field="*{birthDay}" placeholder=""/>
                                <small th:errors="*{birthDay}" class="text-danger"/>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 align-self-center">
                                <label class="form-control-label px-3">Giới tính: <span
                                        class="text-danger"> *</span></label>
                                <div class="form-check form-check-inline">
                                    <label><input type="radio" name="gender" th:field="*{gender}"
                                                  th:value="true">Nam</label>
                                    <label><input type="radio" name="gender" th:field="*{gender}"
                                                  th:value="false">Nữ</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Số điện thoại:<span
                                        class="text-danger"> *</span></label>
                                <input id="lname" th:field="*{phone}"/>
                                <small th:errors="*{phone}" class="text-danger"></small>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Mật khẩu: <span
                                        class="text-danger"> *</span></label>
                                <input type="password" id="fname" th:field="*{password}"/>
                                <small th:errors="*{password}" class="text-danger"></small>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Xác nhận mật khẩu:
                                    <span class="text-danger"> *</span>
                                </label> <input type="password" id="lname" name="confirmpass">
                                <div class="text-danger">[[${eVal }]]</div>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-12 flex-column d-flex">
                                <label class="form-control-label px-3">Địa chỉ:<span
                                        class="text-danger"> *</span></label>
                                <input id="ans" th:field="*{address}"/>
                                <small th:errors="*{address}" class="text-danger"></small>
                            </div>
                        </div>

                        <div class="row justify-content-end">
                            <div class="form-group col-sm-6">
                                <button type="submit" class="btn-block btn-outline-success">Đăng
                                    ký
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>