<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index.html::layout(~{::cart})}">

<head>
</head>

<body>
<div th:fragment="cart" th:with="total = ${1000}">
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Giỏ hàng</h2>
                            <p>
                                Giỏ Hàng<span>-</span>Đơn Hàng Đã Mua
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!-- Button trigger modal -->
    <!-- Modal -->
    <!--================Cart Area =================-->
    <section class="cart_area padding_top">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Ngày mua</th>
                            <th></th>
                            <th></th>
                            <th>Địa chỉ giao</th>
                            <th scope="col"></th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="i:${listorder}" th:object="${i}">
                            <td>[[*{#dates.format(datepurchase,'dd/MM/yyyy')}]]</td>
                            <td></td>
                            <td></td>
                            <td>[[*{address}]]</td>
                            <td></td>
                            <td>
                                <a class="btn_5" href="#" data-bs-toggle="modal"
                                   th:attr="data-bs-target='#exampleModal'+ ${i.id}">View Detail</a>
                                <div class="modal fade" th:id="'exampleModal'+${i.id}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content" >
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Xem Chi
                                                    tiêt</h5>
                                                <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal" aria-label="Close">
                                                    <i class="far fa-window-close"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-default">
                                                    <thead class="thead-inverse">
                                                    <tr>
                                                        <th>Ảnh MH</th>
                                                        <th>Tên sản phẩm</th>
                                                        <th>Số lượng</th>
                                                        <th>Giá</th>
                                                        <th>Tổng Tiền</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="c:${i.listProductOrder }" th:object=${c}>
                                                        <td><img th:src="@{|/img/post/*{product.image}|}"
                                                                 class="img-fluid" height="50px" alt=""/></td>
                                                        <td>[[*{product.nameproduct}]]</td>
                                                        <td>[[*{quantity}]]</td>
                                                        <td>
                                                            [[*{#numbers.formatDecimal(price,0,'COMMA',0,'COMMA')}]]
                                                            VND
                                                        </td>
                                                        <td>[[*{#numbers.formatDecimal(price *
                                                            quantity,0,'COMMA',0,'COMMA')}]] VND
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer" >
                                                <div th:style="${'display:none;'}" th:each="e:${i.listProductOrder}" th:object="${e}"  >
                                                    <h1 >
                                                        <h2 th:with="total = ${total+10}"></h2>
                                                      <h2 th:text="${total}"></h2>
                                                    </h1>

                                                </div>
                                                <h5 class="text-bolder">
                                                    Tổng Tiền:&ensp;
                                                    </h2>
                                                    [[${#numbers.formatDecimal(totalU.getTotalAOrder(i.listProductOrder),0,'COMMA',0,'COMMA')}]]
                                                    VND
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</div>
</body>

</html>


<!--================End Cart Area =================-->