<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace=~{/layout/index.html::layout(~{::product})}>

<head>
</head>

<body>
	<div th:fragment="product">
		<section class="breadcrumb breadcrumb_bg">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="breadcrumb_iner">
							<div class="breadcrumb_iner_item">
								<h2 style="font-family: 'Times New Roman', Times, serif">Sản
									phẩm</h2>
								<p>
									Trang chủ <span>-</span> Sản phẩm
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb start-->

		<!--================Category Product Area =================-->
		<section class="cat_product_area section_padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="left_sidebar_area">
							<aside class="left_widgets p_filter_widgets">
								<div class="l_w_title">
									<h3>Loại hàng</h3>
								</div>
								<div class="widgets_inner">
									<ul class="list">
										<li th:each="category:${listCategory}" th:object="${category}"><a
												th:class="${idCategory == category.id ? 'text-danger' :''}"
												th:href="@{|/product/list-category?id=*{id}|}">[[*{namecategory
												}]]</a> <span>([[*{products.size()}]])</span></li>

										<li><a th:href="@{/home/product}">Tất cả sản phẩm</a></li>
									</ul>
								</div>
							</aside>

							<aside class="left_widgets p_filter_widgets">
								<div class="l_w_title">
									<h3>Hãng</h3>
								</div>
								<div class="widgets_inner">
									<ul class="list">
										<li><a href="#">Sony</a></li>
										<li><a href="#">Apple</a></li>
										<li class="active"><a href="#">JBL</a></li>
										<li><a href="#">Samsung</a></li>
										<li><a href="#">Nokia</a></li>
									</ul>

								</div>
							</aside>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="row">
							<div class="col-lg-12">
								<div class="product_top_bar d-flex justify-content-between align-items-center">
									<div class="single_product_menu">
										<p>
											Tìm thấy <span> [[${page.totalElements}]] </span>
										</p>
									</div>
									<form id="fsort" th:action="@{/product/search-sort-pagination}" method="get"
										class="row">
										<div class="single_product_menu d-flex">
											<p>Type Sort :</p>
											<select name="typesort" th:onchange="'submitSort()'">
												<option th:selected="${typesort =='ASC'}" value="ASC">Tăng
													Dần</option>
												<option th:selected="${typesort =='DESC'}" value="DESC">Giảm
													Dần</option>
											</select>
										</div>
										<div class="single_product_menu d-flex ml-3">
											<p>Short By :</p>
											<select class="pb-0" name="sortby" th:onchange="'submitSort()'">
												<option th:selected="${sortby=='nameproduct'}" value="nameproduct">Tên
												</option>
												<option th:selected="${sortby=='price'}" value="price">Giá</option>
												<option th:selected="${sortby=='quantity'}" value="quantity">Số
													lượng</option>
											</select>

										</div>
										<input type="hidden" name="id" th:value="${idCategory }" />
									</form>
									<form action="/product/search-sort-pagination" method="post">
										<div class="single_product_menu d-flex">
											<div class="input-group">
												<input type="text" th:value="${kw}" class="form-control"
													placeholder="search" name="keyworks"
													aria-describedby="inputGroupPrepend"> <input type="hidden"
													th:value="${idCategory}" class="form-control" name="id"
													aria-describedby="inputGroupPrepend">
												<div class="input-group-prepend">
													<span class="input-group-text" id="inputGroupPrepend"><i
															class="ti-search"></i></span>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="row align-items-center latest_product_inner">
							<div th:if="${page.content == null}" class="container text-center text-danger">
								<b>Không có sản phẩm nào</b>
							</div>
							<div class="col-lg-4 col-sm-6" th:each="p:${page.content}" th:object="${p}">
								<div class="single_product_item">
									<img th:src="@{|/img/post/*{image}|}" th:alt="*{image}" />
									<div class="single_product_text">
										<h4>[[*{nameproduct}]]</h4>
										<h3
											th:style="${discountDao.findByProductEquals(p).size() != 0 ? 'text-decoration: line-through;':''}">
											[[*{#numbers.formatDecimal(price,0,'COMMA',0,'COMMA')}]] VND</h3>
										<h3 th:if="${discountDao.findByProductEquals(p).size() != 0}">
											[[ ${#numbers.formatDecimal(p.price - discountDao.findByProductEquals(p).get(0).getPercent()*p.price/100,0,'COMMA',0,'COMMA')}]] VND</h3>
										<a th:href="@{|/home/order?id=*{id}|}" class="add_cart">+
											add to cart<i class="ti-heart"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="pageination">
									<nav aria-label="Page navigation example">
										<ul class="pagination justify-content-center">
											<li class="page-item"><a class="page-link"
													th:href="@{|/product/search-sort-pagination?pageNo=${page.getNumber()-1 < 0 ? 0:page.getNumber()-1}&id=${idCategory!=null ? idCategory:''}&sortby=${sortby != null ? sortby:''}&typesort=${typesort != null ? typesort : ''}|}"
													aria-label="Previous"> <i class="ti-angle-double-left"></i>
												</a></li>

											<li th:each="i:${#numbers.sequence(0, page.getTotalPages()-1 < 0 ? 0:page.getTotalPages()-1)}"
												class="page-item"><a class="page-link"
													th:href="@{|/product/search-sort-pagination?id=${idCategory!=null ? idCategory:''}&pageNo=${i}&sortby=${sortby != null ? sortby:''}&typesort=${typesort != null ? typesort : ''}|}">[[${i+1}]]</a>
											</li>
											<li class="page-item"><a class="page-link"
													th:href="@{|/product/search-sort-pagination?pageNo=${page.getNumber()+1 > page.getTotalPages()-1 ? page.getTotalPages()-1 : page.getNumber()+1 }&id=${idCategory!=null ? idCategory:'' }&sortby=${sortBy != null ? sortBy:''}&typesort=${typesort != null ? typesort : ''}|}"
													aria-label="Next"> <i class="ti-angle-double-right"></i>
												</a></li>
										</ul>
									</nav>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</section>
		<script type="text/javascript">
			function submitSort() {
				document.getElementById("fsort").submit();
			}
		</script>
	</div>

</body>

</html>